* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
body {
    font-family: 'Times New Roman', Times, serif;
    line-height: 1;
}
.container{
    width: 30%;
    margin: 0;
    padding: 20px;
}
header-design-1{
    background: linear-gradient(135deg, #1354a4 0%, #2388CB 45%, #2A2F93 100%);
    padding: 10px;
}
header h1{
    text-align:left;
    margin-bottom:4px;
    color:#fff;
}
header h3{
    text-align: left;
    margin-bottom: 2px;
    color: #fff;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 10px;px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
}
header-design-2 {
    background: #D8DD2F;
    background: -moz-linear-gradient(top, #D8DD2F 0%, #BC6824 50%, #D8453D 100%);
    background: -webkit-linear-gradient(top, #D8DD2F 0%, #BC6824 50%, #D8453D 100%);
    background: linear-gradient(to bottom, #D8DD2F 0%, #BC6824 50%, #D8453D 100%);
}
header h1{
    text-align:left;
    margin-bottom:4px;
    color:#000000;
}
header h3{
    text-align: left;
    margin-bottom: 2px;
    color: #060000;
}
header nav ul {
    display: flex;
}
header nav ul li {
    margin: 10px;px;
}
header nav ul li a {
    color: #000000;
    text-decoration: none;
}